.st-emotion-cache-19rxjzo.ef3psqc12 {
    font-size: larger;
    padding: 20px;
    margin: 0 auto; /* Center alignment */
    margin-top: 5%;
    display: block; /* Ensure it behaves as a block element */
}
.st-emotion-cache-10trblm.e1nzilvr1{
    color:green;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
#MainMenu{visibility:hidden;}
footer {visibility: hidden;}
header {visibility: hidden;}

.st-emotion-cache-k7vsyb.e1nzilvr2 h4{
    color: rgb(14, 88, 36);
    font-size: 16px;
    margin: 500px 0px -100px 80px;
    
}
/* .st-emotion-cache-k7vsyb.e1nzilvr2 {
    position: relative; /* Set position to relative for the sidebar */
/* } */

/* .st-emotion-cache-k7vsyb.e1nzilvr2 h4 {
    color: rgb(14, 88, 36);
    font-size: 16px; */
    /* position: absolute;  */
    /* bottom: 500; 
    left: 40;
     right: auto;  */
     /* transform: translate(-50%, 0); */ 

